<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% include 'adminHeader.html' %}
    <style>
        .error {
            color: red;
        }

        td {
            font-size: 1.2em;
            font-weight: bold;
        }

        label {
            font-size: 1.5em;
        }
    </style>
    <script>
        $('form').validate();
    </script>
</head>
<body style="background: antiquewhite">
{% if message %}
    <script>
        alert('{{ message }}');
    </script>
{% endif %}
{% include 'chemistNavbar.html' %}
<style>
    label {
        font-size: 1.5em;
    }
</style>
<div class="container mx-auto bg-white" style="padding: 0 50px">
    <br>
    <div class="display-4 text-center font-weight-bold">Medicine</div>
    <hr class="bg-danger">
    <form action="addProduct" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6" style="border-right: 2px solid crimson">
                <div class="form-group" id="catgory" onclick="filtersubcategory()">
                    <label for="email">Category Name:</label>
                    <select class="form-control" name="catname" id="supsdfercat">
                        <option value="#" selected>--Select Category--</option>
                    </select>
                </div>
                <div class="form-group" id="subcatgory">
                    <label for="email">Sub Category Name:</label>
                    <select class="form-control" name="subcatname" id="subcatshow">
                        <option value="#" selected>--Select Category--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="#">Product Name</label>
                    <input type="text" class="form-control" data-rule-required="true" name="pname" id="pname">
                </div>
                <div class="form-group">
                    <label for="#">Product Description</label>
                    <textarea class="form-control" rows="3" name="pdesc" id="pdesc"></textarea>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="#">Product Price</label>
                    <input type="number" name="pprice" id="pprice" min="1" max="100000" class="form-control w-50 d-inline-flex"
                           data-rule-required="true"><label for="#">&nbsp;<u>in &#8377;</u></label>
                </div>
                <div class="form-group">
                    <label for="#">Product Stock</label>
                    <input type="number" name="sprice" id="sprice" min="1" max="100000" class="form-control"
                           data-rule-required="true">
                </div>
                <div class="form-group">
                    <label for="#">Product Discount</label>
                    <input type="number" min="1" max="100" class="form-control w-50 d-inline-flex" data-rule-required="true"
                           name="pdiscount" id="pdiscount"><label for="#">&nbsp;<u>in %</u></label>
                </div>
                <div class="form-group">
                        <span class="m-2"><img src="https://noink.abs-cbn.com/no-profile-pic.png" alt="no image"
                                               id="img"
                                               class="img-fluid img-thumbnail"
                                               style="box-sizing: border-box;box-shadow: 10px 10px 30px #ffffff;border: 3px solid white;width: 200px;height: 200px">
                        </span>
                    <span class="custom-file w-50 small" style="overflow: hidden">
                            <label for="" id="labelimgname" class="custom-file-label"></label>
                            <input type="file" name="photo" onchange="readURL(this)" id="file" class="custom-file-input"
                                   accept=".jpg,.jpeg,.png">
                        </span>

                    <script>
                        var file = document.getElementById("file");
                        var img = document.getElementById("img");
                        var labelimgname = document.getElementById("labelimgname");

                        function readURL(input) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                img.src = e.target.result;
                                labelimgname.innerHTML = input.files[0].name;
                            };
                            reader.readAsDataURL(input.files[0]);
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="form-group text-center mt-sm-2" style="border-top: solid 2px greenyellow">
            <input type="submit" value="Submit" class="btn btn-outline-primary w-50 mt-sm-2 badge-pill">
        </div>
        <br>
    </form>
</div>
<script src="{% static 'myjs/addProduct.js' %}"></script>
<script>
    $(document).ready(function () {
        category();
    })
</script>
</body>
</html>