<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand pr-2" href="alladmin" style="border-right: 2px red solid">HealthFit</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a href="adminRegisteration" class="dropdown-item">
                        Add Admin
                    </a>
                    <a href="adminview" class="dropdown-item">View Admin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chemist
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a href="chemistRegisteration" class="dropdown-item">
                        Add Chemist
                    </a>
                    <a href="chemistview" class="dropdown-item">View Chemist</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="addCategory">Add Category</a>
                    <a class="dropdown-item" href="showCategory">View Category</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sub-Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="addSubCategory">Add Sub-Category</a>
                    <a class="dropdown-item" href="viewcategory">View Sub-Category</a>
                </div>
            </li>
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"#}
{#                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Product#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#                    <a class="dropdown-item" href="addProduct">Add Product</a>#}
{#                    <a class="dropdown-item" href="viewallProduct">View Product</a>#}
{#                </div>#}
{#            </li>#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Setting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <button type="button" class="dropdown-item" data-toggle="modal"
                            data-target="#mymodalchangepassword">
                        Change Password
                    </button>
                    <a href="adminlogout" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
        <span class="text-light">Welcome, {{ request.session.admin.adminEmail }}</span>

    </div>
</nav>
<div class="modal fade" tabindex="-1" role="dialog" id="mymodalchangepassword">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Admin Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="adminChangePassword" method="post" id="adminChangePassword">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="password">Old Password</label>
                        <input type="password" class="form-control" id="opassw" name="opassw">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" id="npassw">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cpassword">Confirm Password</label>
                                <input type="password" class="form-control" data-rule-equalto="#npassw"
                                       name="npassw" data-msg-equalto="Please same Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Submit" class="btn btn-outline-primary w-50">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#adminChangePassword").validate();
</script>