<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chemist Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/esm/popper-utils.js"></script>
    <script type="text/javascript"
            src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        $('form').validate();
    </script>
    <style>
        .error {
            color: red;
        }

        td {
            font-size: 1.2em;
            font-weight: bold;
        }

        label {
            font-size: 1.5em;
        }
        .box{
            background: rgba(0,0,0,0.5);
            padding: 50px;
            color: white;
        }
    </style>
</head>
<body style="background: url('{% static "images/syringe-1884784_1920.jpg" %}') no-repeat fixed center center/cover">
{% if message %}
    <script>
        alert('{{ message }}');
    </script>
{% endif %}
<br><br><br><br><br>
<div class="container mx-auto box w-50">
    <div class="display-4 text-center font-weight-bold" style="background: rgba(250,255,253,0.5)">Chemist Login</div>
    <hr class="bg-danger">
    <form action="chemistLogin" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" autofocus data-rule-required="true">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="passw" name="passw">
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-outline-primary w-50">
        </div>
    </form>
</div>
</body>
</html>