<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login And Registration</title>
    {% include 'publicHeader.html' %}
</head>
<body>
{% if message %}
    <script>alert('{{ message }}')</script>
{% endif %}
{% if request.session.client %}
    {% include 'clientNavbar.html' %}
{% else %}
    {% include 'publicNavbar.html' %}
{% endif %}
<div class="container">
        <!-- Login Content Start -->
    <div class="display-3 text-center m-4">Change Password</div>
    <div class="w-50 mx-auto p-4 m-5" style="border-radius: 10px;border: #1ad5d5 4px solid">
            <div class="display-4 text-primary text-center" style="text-decoration: red underline">{{ request.session.client.clientEmail }}</div>
            <form action="clientChangePassword" method="post" id="clientChangePassword">
                {% csrf_token %}
                <div class="form-group">
            <label for="password">Old Password</label>
            <input type="password" class="form-control" id="opassw" name="opassw" data-rule-required="true" >
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="npassw" name="cpassw" data-rule-required="true">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" class="form-control" data-rule-equalto="#npassw"
                           name="npassw" data-msg-equalto="Please enter same Password" id="cpassw">
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-primary w-50">
        </div>
            </form>
        </div>
    </div>
</div>
<hr class="bg-dark">
{% include 'publicFooter.html' %}
<script>
    $('#clientChangePassword').validate();
</script>
</body>
</html>